/* CUSTOM EXISTING CLASSES */
h1, h6{
    text-align: center;
}

body, html{
    background-color: #f1f1f1 !important;
}

.scroll{
    overflow-y: scroll;
}

.remove-all-margin-padding{
    margin:0 ! important;
    padding:0 ! important;
}

.mynav{
    padding-left: 10px;
    margin-right: 10px;
    width: 100%;
    background-color: #555;
    overflow: auto;
    color: white;
}
.link{
    color: white;
}

.link:hover{
    cursor: pointer;
    color: #4C9F4A;
}

/* CUSTOM CLASSES */
.topHeader{
    padding-top: 30px;
    display: block;
    border-bottom: #154410 solid 0.5px;
    padding-bottom: 30px;
    background-color: #4C9F4A;
    color: white;
}

.infoBlock{
    display: block;
    background-color: white;
    height: 300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
    border: #4C9F4A solid 0.5px;
    overflow-y: scroll;
}

.calculationBlock{
    display: block;
    background-color: white;
    height: 210px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
    border: #4C9F4A solid 0.5px;
    overflow-y: scroll;
}

.task2Block{
    display: block;
    background-color: white;
    height: 510px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
    border: #4C9F4A solid 0.5px;
    overflow-y: scroll;
}

.matrix{
    height: 100px;
}

#amBlock, #mtBlock, #mxBlock, #dmBlock, #mxvBlock{
    height: 400px;
}

#mgBlock{
    height: 550px;
    overflow-y: scroll;
}

.myrow{
    margin-left: 10px;
}

.answer{
    margin-top: 10px;
    height: 30px;
    margin-left: 10px;
}

.solve{
    border: #4C9F4A solid 0.5px;
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.solve:hover{
    background-color: #4C9F4A;
    color: white;
}

.input{
    margin-left: 10px;
    margin-top: 10px;
}

.header{
    font-size: 25px;
    margin-left: 10px;
    color: #555;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: white;
    border-top: solid 0.5px #154410;
    color: #2C4E2B ;
    text-align: center;
  }

.info{
      display: block;
      margin-top: 10px;
  }